#table-of-contents h2{
    z-index:200;
    background-color:#009A44;
    text-align:center;
    padding:0.809em;
    display:block;
    color:#fcfcfc;
    font-size: 100%;
    margin-bottom:0.809em}

#toggle-sidebar h2{
    background-color:#009A44;
    }

/* content{max-width:100%;} */

content{
    background:#fcfcfc;
    height:100%;
    margin-left:300px;
    max-width:900px;
    min-height:100%;
}


li{max-width:800px;}

p{max-width:800px;}

.subtitle {
    text-align: center;
    font-size: medium;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
}

#sidebar header{
    height:32px;
    display:inline-block;
    line-height:32px;
    padding:0 1.618em;
    font-weight:bold;
    text-transform:uppercase;
    font-size:80%;
    color:#9F2042;
    white-space:nowrap}



#table-of-contents:Before{
    width: 50%;
    content: "Coord. Frédéric Vanwindekens";
    position: fixed;
    left: 25px;
    top: 95%;
    /* margin-left: 25%; */
    height: 100%;
    background-repeat: no-repeat;
    filter: invert(80%);
}


#table-of-contents:after{
    width: 50%;
    content: " ";
    background-image: url(./images/craw_fr_nb.png);
    position: fixed;
    left: 25px;
    top: 80%;
    /* margin-left: 25%; */
    height: 100%;
    background-repeat: no-repeat;
    background-size: 25%;
    filter: invert(80%);
}

